* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  font-family: "Open Sans", sans-serif;
}
header {
  background-image: url("./images/bg-hero-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
}
nav > button {
  background-color: white;
  color: #00252e;
  border: none;
  padding: 9px 26px;
  border-radius: 24px;
  box-shadow: 0px 0px 11px 0px #d1bdbd;
}
.nav-logo {
  width: 9rem;
}

main {
  position: relative;
  display: grid;
  place-items: center;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
}
button {
  cursor: pointer;
}

.hero {
  /* max-width: 320px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 0 2rem 0;
}

.hero > div {
  max-width: 320px;
  margin: 2rem;
}
.hero h1,
.hero p {
  margin-bottom: 1rem;
}

.hero > img {
  width: 20rem;
}
.cta__button {
  padding: 10px 85px;
  border-radius: 24px;
  border: none;
  background-color: hsl(322, 100%, 66%);
  color: white;
  padding: 0.8rem 3rem;
  border-radius: 1.3rem;
}

/* 
 =======================
        card styles
========================= 
 */

.cards {
  padding: 1rem;
  /* I used padding instead of width to control the size of the box */
}
.card {
  box-shadow: 0px 0px 11px 0px #d1bdbd;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 2rem 0;
  border-radius: 1rem;
  transition: transform ease-in 0.3s;
}
.card img {
  max-width: 320px;
}
.card__info {
  margin-top: 2rem;
}
.card__info p {
  padding: 1rem 1rem;
}

/* card animations */

.card:hover {
  transform: scale(1.02);
}

/* 
 =======================
        card styles
========================= 
 */

.cta {
  position: absolute;
  bottom: -17rem;
  background-color: #ffffff;
  padding: 3rem 3rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 20px 0px #0000006b;
  font-weight: 700;
}
.cta > p {
  margin-bottom: 1rem;
}

footer {
  color: #ffffff;
  margin-top: 12rem;
  padding: 9rem 3rem 3rem 3rem;
  background-color: #00252e;
}
.footer__contact-info > div {
  display: flex;
  margin-top: 1rem;
}
.footer__contact-info > div span {
  margin-right: 2rem;
  text-align: left;
  width: 20px;
  height: 20px;
}
.footer__contact-info p {
  max-width: 280px;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.footer__nav > a {
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 1rem;
}
.footer__nav > a:hover {
  text-decoration: underline;
}
.footer__social-icons > span {
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.footer__social-icons > span svg:hover {
  fill: hsl(322, 100%, 66%);
}

/*====================
    media queries
====================== 
 */

@media (min-width: 375px) {
  .cards {
    padding: 1rem;
  }
}
@media (min-width: 530px) {
  .cards {
    padding: 2rem;
  }
}

@media (min-width: 768px) {
  .hero {
    flex-direction: row;
    align-items: center;
    text-align: left;
    justify-content: space-evenly;
    padding: 3rem 0;
  }
  .cards {
    padding: 1rem;
  }
  .card {
    flex-direction: row;
    text-align: left;
    padding: 1rem 1rem 1rem 3rem;
  }
  .card:nth-child(1),
  .card:nth-child(3) {
    flex-direction: row-reverse;
  }
  .card p {
    width: 15rem;
  }
  .card__info p {
    padding: 0;
  }
  .cta {
    padding: 3rem 5.5rem 2rem;
  }
  footer {
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width: 1024px) {
  .hero > img {
    width: 24rem;
  }
  .hero h1,
  p {
    margin-bottom: 1rem;
  }
  .card img {
    margin: 0 3rem;
  }
  .card p {
    width: 25rem;
  }
}
